SECRET_KEY=kubetrain2-secret-2024
JWT_SECRET_KEY=kubetrain2-jwt-secret-2024

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=123456
DB_NAME=kubetrain2

REDIS_URL=redis://localhost:6379/0

PORT=8010
HOST=0.0.0.0
FLASK_ENV=development

UPLOAD_FOLDER=./uploads

K8S_NAMESPACE=kubetrain
K8S_CONFIG_PATH=
K8S_IN_CLUSTER=false

NFS_MOUNT_PATH=/data
NFS_PVC_NAME=kubetrain-data-pvc
NFS_REMOTE_BASE=/data/kubetrain

SSH_HOST=192.168.171.3
SSH_PORT=22
SSH_USER=root
SSH_PASSWORD=

TRAINING_IMAGE=kubetrain/pytorch-ddp:latest
IMAGE_PULL_POLICY=IfNotPresent
